@using Microsoft.AspNetCore.Razor.Language.Intermediate

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Pharmacy Medical Supply Portal</h1>
@Html.ActionLink("Schedule Meeting","","",null,new {@class="btn btn-primary"})
@Html.ActionLink("Supply Medicine","Index","Demand",null,new {@class="btn btn-primary"})

