@using Microsoft.AspNetCore.Razor.Language.Intermediate

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div></div>
</div>
@Html.ActionLink("Schedule Meeting","Index","Schedule",null,new {@class="btn btn-primary"})
@Html.ActionLink("Supply Medicine","Index","Demand",null,new {@class="btn btn-primary"})

